.section_cart
    margin-top: 40px
    font-family: 'Oswald', cursive
    // @media screen and (max-width: 992px)
    //     margin-top: 0
.title
    // position: relative
    border-bottom: 1px solid lightgrey
    height: 65px
.title_item
    z-index: 2
    // text-align: center
    // position: absolute
    // left: 35%
    margin: 0 0 0 75px
    text-transform: uppercase
    // @media screen and (max-width: 768px) 
    //     left: 30%
    h1
        text-transform: uppercase
        font-family: 'Oswald', cursive
        font-style: normal
        font-weight: 900
        letter-spacing: 5px
        margin: 0
// .line
//     color: red
//     width: 100%
//     border-bottom: 2px solid grey
//     position: absolute
//     top: 50%
//     z-index: 0
.conainer_product
    display: flex
    flex-wrap: wrap
    justify-content: space-around
    max-width:: 85vw
    margin: 0 auto 10px auto
    padding: 0
    @media screen and (max-width: 992px)
        margin: 0
        padding-left: 10vmin
    @media screen and (max-width: 768px)
        padding-left: 5vmin
        max-width: 79vw

.cart
    max-width: 250px
    margin: 50px 10px 30px 10px
    @media screen and (max-width: 500px)
        max-width: 200px
    &_added
        display: flex
        justify-content: space-between
        height: 50px
.cart_image
    max-width: 250px
    max-height: 250px
    @media screen and (max-width: 500px)
        max-height: 200px
        max-width: 200px
      
    
.head_cart
    display: flex
    justify-content: space-between
    h2
        font-size: 18px
.img_fluid img
    margin: 0
    padding: 0
.cart_items
    max-width: 300px
    margin: 0
    padding: 0
.descript
    font-size: 14px
.head_carts
    height: 50px
.descript_products
    min-height: 75px
.head_count
    height: 60px
.count_product
    padding-top: 10px
    

