.title_home
    margin-top: 50px
    display: flex
    justify-content: center
    margin-top: 30px
    margin-bottom: 30px
    @media screen and (max-width: 768px)
        display: none
    h1
        text-align: center
        font-family: 'Comfortaa', cursive
        font-style: normal
        font-weight: 900
        font-size: 40px
        letter-spacing: 2px
        @media screen and (max-width: 768px)
            max-width: 90%

.cart_img
    max-width: 270px
    max-height: 270px
    margin: 0
    padding: 0

.cart
    &:hover
        h3
            transition: 0.1s
            color: yellow
            font-size: 28px
            
    &_item
        width: 270px
        height: 270px
        border-radius: 8%
        overflow: hidden
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5)
        transition: 0.05s
        transform: scale(1)
        margin: 0 auto 40px auto
        @media screen and (max-width: 900px)
            width: 230px
            height: 230px
        @media screen and (max-width: 750px)
            width: 180px
            height: 180px
        &:hover
            transition: 0.1s ease-in
            transform: scale(1.03)
            box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.9)
    &_title
        background-color: #303032
        height: 100px
        max-width: 270px
        h3
            color: white
            text-align: center
            margin: 0
            padding: 25px 0 0 0
            font-family: 'Comfortaa', cursive
            font-weight: 700
            font-size: 26px
            @media screen and (max-width: 750px)
                font-size: 20px
.sliders
    border: none
    //display: flex
    //justify-content: space-between
//.react-multi-carousel-track
//    transition: scale 2s linear
//    transform: scale(1)

//.container_items
//    height: 29vmin
//    @media screen and (min-width: 475px)
//        height: 29vmax
//
//
//.react-carousel-ii
//    opacity: .6
//    width: 900px


//transform: scale(1.5)

//.react-multi-carousel-item--active
//    transition: opacity 1s
//    opacity: 1//    height: 300px

//.react-multi-carousel-track
//    height: 200px
//.carousel-container
//    width: 100%
//    height: 400px
//.slider
//    width: 100%
    //width: 900px
    z-index: 10
    transform: scale(2.02)

//.react-multi-carousel-item--active
//    transition: transform 1s
//    opacity: 1
//    transform: scale(2.02)
//    z-index: 100
    //&:focus
    //    transform: scale(2)
    //&:active
    //    transform: scale(2)
    //&:checked
    //    transform: scale(2)
    //&:hover
    //    transform: scale(2)


//.react-carousel
//    height: 100%

//.react-multi-carousel-item
//    padding: 0 40px
//    @media screen and (max-width: 475px)
//        padding: 0 10px


//.react-multi-carousel-item div
//    height: 200px

//.slide_class
//    height: 400px
//    padding: 20px

//.carousel-item-padding-40-px
//    padding: 0 100px

//.carousel-item-padding-40-px div

//    display: flex
//    height: 100vh
//    overflow: hidden
//
//.slider-item
//    flex-shrink: 0
//    width: 100%
//    padding: 50px
//    display: flex
//    justify-content: center
//
//.slider-img
//    width: 400px
//    //object-fit: cover
//
//.toggled_button
//    background-color: yellow

//*,
//*::before,
//*::after
//    box-sizing: border-box


           
            
                
