.home_page {
  padding: 0;
}

@media screen and (max-width: 992px) {
  .home_page {
    padding-left: 20px;
  }
}

@media screen and (max-width: 768px) {
  .home_page {
    padding-left: 2px;
  }
}

.cart_contant {
  width: 270px;
  height: 270px;
  margin-bottom: 30px;
}

@media screen and (max-width: 768px) {
  .cart_contant {
    width: 370px;
    height: 370px;
  }
}

@media screen and (max-width: 520px) {
  .cart_contant {
    width: 310px;
    height: 310px;
  }
}

.title_home {
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (max-width: 768px) {
  .title_home {
    display: none;
  }
}

.title_home h1 {
  text-align: center;
  text-transform: uppercase;
  font-family: 'Neucha', cursive;
  font-style: normal;
  font-weight: 900;
  letter-spacing: 2px;
}

@media screen and (max-width: 768px) {
  .title_home h1 {
    max-width: 90%;
  }
}

.menu {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media screen and (max-width: 768px) {
  .menu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    display: none;
  }
}

.cart_img {
  max-width: 270px;
  max-height: 270px;
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 768px) {
  .cart_img {
    max-width: 370px;
    height: 370px;
  }
}

@media screen and (max-width: 520px) {
  .cart_img {
    max-width: 310px;
    height: 310px;
  }
}

.cart:hover h3 {
  -webkit-transition: 0.1s;
  transition: 0.1s;
  color: yellow;
  font-size: 28px;
}

.cart_item {
  width: 270px;
  height: 270px;
  border-radius: 8%;
  overflow: hidden;
  -webkit-box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
  -webkit-transition: 0.05s;
  transition: 0.05s;
  -webkit-transform: scale(1);
          transform: scale(1);
  margin-bottom: 40px;
}

@media screen and (max-width: 768px) {
  .cart_item {
    width: 370px;
    height: 370px;
  }
}

@media screen and (max-width: 520px) {
  .cart_item {
    width: 310px;
    height: 310px;
  }
}

.cart_item:hover {
  -webkit-transition: 0.1s ease-in;
  transition: 0.1s ease-in;
  -webkit-transform: scale(1.03);
          transform: scale(1.03);
  -webkit-box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.9);
          box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.9);
}

.cart_container {
  margin: 0;
  padding: 0;
}

.cart_title {
  background-color: #303032;
  height: 100px;
}

.cart_title h3 {
  color: white;
  text-align: center;
  margin: 0;
  padding: 25px 0 0 0;
  font-family: 'Comfortaa', cursive;
  font-weight: 700;
  font-size: 26px;
}
/*# sourceMappingURL=index.css.map */