yarn-debug.log*
yarn-error.log*

# Dependency directories
node_modules/

.idea/

# lock files
yarn.lock
package-lock.json
# ignore any lock file other than main lock file
!/yarn.lock

# dotenv environment variable files
.env*
.env.production*

# gatsby files
.cache/
public

# Yarn
yarn-error.log

# Optional eslint cache
.eslintcache