yarn-debug.log*
yarn-error.log*

# Dependency directories
node_modules/

# dotenv environment variable files
.env*
.env.production*

# gatsby files
.cache/
public

# Yarn
yarn-error.log

# Optional eslint cache
.eslintcache