@keyframes ldio-bp47xt223ma {
  0% { opacity: 1 }
  100% { opacity: 0 }
}
.ldio-bp47xt223ma div {
  left: 81.225px;
  top: 41.894999999999996px;
  position: absolute;
  animation: ldio-bp47xt223ma linear 1.0416666666666665s infinite;
  background: #fe718d;
  width: 8.55px;
  height: 8.55px;
  border-radius: 3.3345px / 3.3345px;
  transform-origin: 4.275px 43.605px;
}.ldio-bp47xt223ma div:nth-child(1) {
  transform: rotate(0deg);
  animation-delay: -0.9374999999999999s;
  background: #fe718d;
}.ldio-bp47xt223ma div:nth-child(2) {
  transform: rotate(36deg);
  animation-delay: -0.8333333333333333s;
  background: #fe718d;
}.ldio-bp47xt223ma div:nth-child(3) {
  transform: rotate(72deg);
  animation-delay: -0.7291666666666665s;
  background: #fe718d;
}.ldio-bp47xt223ma div:nth-child(4) {
  transform: rotate(108deg);
  animation-delay: -0.6249999999999999s;
  background: #fe718d;
}.ldio-bp47xt223ma div:nth-child(5) {
  transform: rotate(144deg);
  animation-delay: -0.5208333333333333s;
  background: #fe718d;
}.ldio-bp47xt223ma div:nth-child(6) {
  transform: rotate(180deg);
  animation-delay: -0.41666666666666663s;
  background: #fe718d;
}.ldio-bp47xt223ma div:nth-child(7) {
  transform: rotate(216deg);
  animation-delay: -0.31249999999999994s;
  background: #fe718d;
}.ldio-bp47xt223ma div:nth-child(8) {
  transform: rotate(252deg);
  animation-delay: -0.20833333333333331s;
  background: #fe718d;
}.ldio-bp47xt223ma div:nth-child(9) {
  transform: rotate(288deg);
  animation-delay: -0.10416666666666666s;
  background: #fe718d;
}.ldio-bp47xt223ma div:nth-child(10) {
  transform: rotate(324deg);
  animation-delay: 0s;
  background: #fe718d;
}
.loadingio-spinner-spinner-ijmganeeya {
  width: 171px;
  height: 171px;
  display: inline-block;
  overflow: hidden;
  background: rgba(NaN, NaN, NaN, 0);
}
.ldio-bp47xt223ma {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0; /* see note above */
}
.ldio-bp47xt223ma div { box-sizing: content-box; }
