.header 
    z-index: 0
    position: sticky
    top: 0
.navbar-nav
    color: white

.icon_start
    min-width: 95px
    padding: 0
    margin: 0
    img
        margin: 0
        padding: 0

.txt_total
    @media screen and (max-width: 425px)
        font-size: 12px
    @media screen and (max-width: 320px)
        font-size: 10px
        letter-spacing: -0.5px

.icon_start_xs
    min-width: 95px
    margin: 0 auto
    @media screen and (min-width: 768px)
        display: none
    @media screen and (max-width: 768px)
        margin: 0 20% 0 20%
    @media screen and (max-width: 500px)
        min-width: 80px
        margin: 0 10% 0 15%
    @media screen and (max-width: 425px)
        margin: 0 0 0 17%
    // @media screen and (max-width: 370px)
    //     margin: 0 0 0 17%

.fa-clock-o
    color: orange
    width: 30px
    height: 30px
    border-radius: 50%
    text-align: center
    padding-top: 2.5px
    margin-right: 5px
    background-color: #fff
.nav-item
    font-size: 13px
    text-decoration: none
    min-width: 70px
    list-style: none
    margin: auto 0 
    padding: 0
    border-radius: 5px
    font-family: 'Comfortaa', cursive
    font-weight: 900
    color: white

.nav-link:focus
    border-left: 4px solid #F99C9C
    border-radius: 10px

.nav-link
    text-transform: uppercase

.active  
    min-width: 100px
    border-top: 1px solid #F99C9C
    border-bottom: 1px solid #F99C9C
    border-left: 4px solid #F99C9C
    box-sizing: border-box
    border-radius: 10px
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05)

.info_xs
    @media screen and (max-width: 992px) 
        display: none

.info_xl
    li
        font-size: 13px
        margin-top: 5px
        max-width: 370px
    @media screen and (min-width: 992px) 
        display: none

.dotted
    border-bottom: 2px dotted #F99C9C

.company
    margin: 0
    padding: 0
    min-width: 230px
    &_phone
        font-size: 14px
    &_adress
        border-bottom: 2px dotted #F99C9C
        font-size: 13px
    &_media
        @media screen and (max-width: 768px) 
            display: none
    
.head
    position: absolute
    top: 13%
    right: 0
    margin-right: 10vmin
    @media screen and (min-width: 1024px) 
        margin-right: 3vmin
    @media screen and (min-width: 1280px) 
        margin-right: 10vmin
    @media screen and (max-width: 992px) 
        margin-right: 3vmin
    @media screen and (max-width: 1024px) 
        margin-right: 1.5vmin

.nav_item_phone
    padding: 0
    font-size: 16px
    margin: auto 30px auto 0
    text-transform: uppercase
    @media screen and (max-width: 1080px) 
        margin: auto 10px auto 0
        font-size: 8px

.info_content
    display: flex
    margin: 0
    padding: 0

@media screen and (min-width: 992px) 
    .company_media
        display: none

