.icon_start
    min-width: 65px
    padding: 0
    margin: 0
    img
        margin: 0
        padding: 0

.icon_start_xs
    min-width: 75px
    margin: 0 auto
    @media screen and (max-width: 768px)
        min-width: 60px
        margin: 0 25% 0 25%
    @media screen and (max-width: 500px)
        margin: 0 20vw 0 20vw
        min-width: 65px
    @media screen and (max-width: 425px)
        margin: 0 15vw 0 15vw
    @media screen and (max-width: 360px)
        margin: 0 10vw 0 10vw

.nav-item
    font-size: 13px
    text-decoration: none
    min-width: 70px
    list-style: none
    margin: auto 0 
    padding: 0
    border-radius: 5px
    font-family: 'Comfortaa', cursive
    font-weight: 900
    color: white
    @media screen and (max-width: 755px)
        font-size: 10px
        letter-spacing: -0.5px

.nav-link:focus
    border-left: 4px solid #F99C9C
    border-radius: 10px

.nav-link
    text-transform: uppercase


::-webkit-scrollbar
    width: 0

.container
    display: flex
    overflow-x: scroll
    width: 100%
    margin-top: 50px

.card
    flex-shrink: 0
    maxWidth: 150px
    //height: 500px
    border-radius: 10px
    margin-left: 50px

